<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Wu Wei</h5>
          <p class="grey-text text-lighten-4">Wu wei is an ancient Chinese concept literally meaning "inexertion," "inaction," or "effortless action."</p>
        </div>
        <div class="col l4 offset-l2 s12 center">
          <h5 class="white-text">About the Developer</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://danaarroway.com">Portfolio</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/moonlighter-dev">Github</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/dana-arroway/">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/danaarroway">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Dana Arroway
      <a class="grey-text text-lighten-4 right" href="https://github.com/moonlighter-dev/wu-wei">See the Code on Github</a>
      </div>
    </div>
  </footer>