<header>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <img class="brand-logo right" src="/public/images/wu-wei-chars.jpg" alt="Chinese characters that are pronounced 'wu-wei'" width="175px">
            </div>    
            <div class="col s6">
                <h1>Wu Wei</h1>
                <h4>Practice without Effort</h4>
            </div>
        </div>
    </div>
</header>