<div class="container">
    <h5>Update Patient Information</h5>
    <form action="/patients/<%= patient._id %>/edit?_method=PUT" method="POST">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="<%= patient.firstName %>">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value="<%= patient.lastName %>">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= patient.email %>">
        <input type="submit">
    </form>
</div>