<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/public/css/materialize.min.css"  media="screen,projection"/>

        <link href="/public/css/style.css" rel="stylesheet">

        <title>Wu Wei</title>
    </head>
    <body>
        <div class="hero container">
            <div class="row">
                <div class="col s4">
                    <img src="/public/images/wu-wei-chars.jpg">
                </div>
                <div class="col s7 offset-s1">
                    <h2>Welcome to Wu Wei</h2>
                    <h5>A full stack practice management app for CAM providers</h5>
                    <div class="divider"></div>
                    <h3>Let's get started.</h3>
                    <a class="btn" href="/login"> Login</a>
                    <a class="btn" href="/signup"> Signup</a>
                </div>
            </div>
            <!--JavaScript at end of body for optimized loading-->
            <script type="text/javascript" src="/public/js/materialize.min.js"></script>
            <script type="text/javascript" src="/public/js/main.js"></script>
        </div>
    </body>
</html>