
    <h1>Patients</h1>
    <ul>
    <% patients.forEach( el => { %>
            <li class='patient' data-id='<%=el._id%>'>
                <span class><%= el.lastName + ", " + el.firstName%></span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.firstName %> has <%= totalPatients %> patients.</h2>

    <a href="/logout">Logout</a>
