<div class="container">
<form action="/signup" method="POST">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <div class="row">
        <h5>
            <label>
                <input type="radio" name="status" id="patient" value="patient" checked><span>Patient</span>              
            </label>
            <label>
                <input type="radio" name="status" id="provider" value="provider"> <span>Provider</span>                
            </label>
        </h5>
    </div>
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirmPassword" placeholder="Confirm Password">
    <input type="submit">
</div>